body {
  background-color: #2f3232;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
}

section {
  max-width: 400px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: rgb(178, 178, 178);
}

footer img {
  max-width: 200px;
}

footer p {
  min-width: 150px;
  margin-left: 10px;
}

footer section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 355px;
}
