body {
  position: relative;
  background-color: #2f3232;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  user-select: none;
  color: white;
}

main {
  overflow: auto;
  min-height: 100vh;
  padding: 0 20px;
}

h1 {
  color: white;
  margin-top: 20px;
  font-size: 50px;
  user-select: none;
}
