a {
  color: white;
  margin: 20px;
  line-height: 40px;
  transition: 0.2s;
}

a:hover {
  transition: 0.5s;
  margin: 30px;
}

.google-play-badge{
  max-width: 300px;
}

body{
    font-size: x-large;
}
